btc-demo/Flow_1_Source_-_API_to_Postgres.json
{"flowContents":{"identifier":"ad1d36e9-9857-37c9-99f6-5a7432237691","instanceIdentifier":"dd733d03-019c-1000-ffff-fffffeb314f3","name":"Flow 1 Source - API to Postgres","comments":"","position":{"x":384.0,"y":144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"70c16c85-e183-3fd4-bc5c-747a90e48f8f","instanceIdentifier":"e25efdcd-019c-1000-0000-000015f2b3ed","name":"PutS3Object","comments":"","position":{"x":984.0,"y":1520.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2026.2.4.10"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"btc_trades/${now():format('yyyyMMdd-HHmmss')}.json","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"snowflake-mcastro","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"1b09bea7-83d0-360f-95f1-fefce998dce5","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"3ae75675-ea10-33f3-8511-a25edb3e7cf2","instanceIdentifier":"dd73712f-019c-1000-0000-00007972f5d6","name":"Split Trades Array","comments":"","position":{"x":656.0,"y":296.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.4.10"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"fda0ef12-71e7-3e47-829e-5b66fbc88bd7","instanceIdentifier":"e25d9962-019c-1000-ffff-ffff855ac156","name":"ExecuteSQLRecord","comments":"","position":{"x":952.0,"y":1120.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.4.10"},"properties":{"Set Auto Commit":"true","Max Wait Time":"0 seconds","SQL Query":"SELECT * FROM flow1_cdc.btc_trades;","Normalize Table/Column Names":"false","Database Connection Pooling Service":"1445f99d-771e-3581-ba52-9d78903d32cf","Default Decimal Scale":"0","SQL Post-Query":null,"Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Record Writer":"5f20f025-01ac-3a38-be45-7b07793efc56","SQL Pre-Query":null,"Default Decimal Precision":"10","Max Rows Per FlowFile":"0"},"propertyDescriptors":{"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table/Column Names":{"name":"Normalize Table/Column Names","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Post-Query":{"name":"SQL Post-Query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"SQL Pre-Query":{"name":"SQL Pre-Query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"1015d824-2354-333c-907f-79cb738b05a6","instanceIdentifier":"dd7364f7-019c-1000-ffff-ffffddaac5e7","name":"Fetch BTC Trades","comments":"","position":{"x":-80.0,"y":288.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.4.10"},"properties":{"Request Content-Encoding":"DISABLED","User-Agent":"DFDS-Demo/1.0","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"false","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.exchange.coinbase.com/products/BTC-USD/trades?limit=500","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":"DFDS-Demo/1.0","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User-Agent":{"name":"User-Agent","displayName":"User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"73a3df38-e9cd-3622-abdd-40a40a31d795","instanceIdentifier":"dd7379f5-019c-1000-0000-00005dbcb788","name":"Write to Postgres","comments":"","position":{"x":936.0,"y":744.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.4.10"},"properties":{"Table Name":"btc_trades","Quote Column Identifiers":"false","Max Wait Time":"0 seconds","Database Connection Pooling Service":"1445f99d-771e-3581-ba52-9d78903d32cf","Delete Keys":null,"Record Reader":"613f2be3-05dd-3f09-8b99-7dccb55e1430","Quote Table Identifiers":"false","Schema Name":"flow1_cdc","Database Session AutoCommit":"false","Unmatched Field Behavior":"Ignore Unmatched Fields","Database Name":null,"Allow Multiple SQL Statements":"false","Rollback On Failure":"false","Update Keys":null,"Field Containing SQL":null,"Database Dialect Service":null,"Data Record Path":null,"Statement Type Record Path":null,"Column Name Translation Pattern":null,"Column Name Translation Strategy":"REMOVE_UNDERSCORE","Binary String Format":"UTF-8","Unmatched Column Behavior":"Ignore Unmatched Columns","Database Type":"PostgreSQL","Post-Processing SQL":null,"Translate Field Names":"false","Statement Type":"INSERT","Pre-Processing SQL":null,"Table Schema Cache Size":"100","Maximum Batch Size":"1000"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Column Identifiers":{"name":"Quote Column Identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quote Table Identifiers":{"name":"Quote Table Identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Session AutoCommit":{"name":"Database Session AutoCommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Multiple SQL Statements":{"name":"Allow Multiple SQL Statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rollback On Failure":{"name":"Rollback On Failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Field Containing SQL":{"name":"Field Containing SQL","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary String Format":{"name":"Binary String Format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Post-Processing SQL":{"name":"Post-Processing SQL","displayName":"Post-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pre-Processing SQL":{"name":"Pre-Processing SQL","displayName":"Pre-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Cache Size":{"name":"Table Schema Cache Size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5265175d-257f-38b1-933e-13fbda05b931","instanceIdentifier":"e25db1c3-019c-1000-0000-00007d3c87fe","name":"","source":{"id":"73a3df38-e9cd-3622-abdd-40a40a31d795","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Write to Postgres","comments":"","instanceIdentifier":"dd7379f5-019c-1000-0000-00005dbcb788"},"destination":{"id":"fda0ef12-71e7-3e47-829e-5b66fbc88bd7","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"e25d9962-019c-1000-ffff-ffff855ac156"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"c7edfa21-c88f-34f2-8183-4a5807607736","instanceIdentifier":"dd7380cf-019c-1000-ffff-ffffdc63e9a5","source":{"id":"1015d824-2354-333c-907f-79cb738b05a6","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Fetch BTC Trades","comments":"","instanceIdentifier":"dd7364f7-019c-1000-ffff-ffffddaac5e7"},"destination":{"id":"3ae75675-ea10-33f3-8511-a25edb3e7cf2","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Split Trades Array","comments":"","instanceIdentifier":"dd73712f-019c-1000-0000-00007972f5d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"2cbc9f6d-8926-39a6-ab8c-84314cdfffeb","instanceIdentifier":"dd7386f5-019c-1000-ffff-ffffd1a591a3","source":{"id":"73a3df38-e9cd-3622-abdd-40a40a31d795","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Write to Postgres","comments":"","instanceIdentifier":"dd7379f5-019c-1000-0000-00005dbcb788"},"destination":{"id":"cbb909f1-a435-3d0a-9231-d0d457144780","type":"FUNNEL","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Funnel","comments":"","instanceIdentifier":"dd737f59-019c-1000-ffff-fffffa7904bd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"849aa6c9-a564-34d2-bcdf-c4eb25e3f237","instanceIdentifier":"e25f2655-019c-1000-ffff-ffff8070fc03","name":"","source":{"id":"fda0ef12-71e7-3e47-829e-5b66fbc88bd7","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"e25d9962-019c-1000-ffff-ffff855ac156"},"destination":{"id":"cbb909f1-a435-3d0a-9231-d0d457144780","type":"FUNNEL","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Funnel","comments":"","instanceIdentifier":"dd737f59-019c-1000-ffff-fffffa7904bd"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"ea93babb-81d2-3f50-a1bf-b6d59cdf576b","instanceIdentifier":"dd738404-019c-1000-ffff-ffff8f9933d9","source":{"id":"1015d824-2354-333c-907f-79cb738b05a6","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Fetch BTC Trades","comments":"","instanceIdentifier":"dd7364f7-019c-1000-ffff-ffffddaac5e7"},"destination":{"id":"cbb909f1-a435-3d0a-9231-d0d457144780","type":"FUNNEL","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Funnel","comments":"","instanceIdentifier":"dd737f59-019c-1000-ffff-fffffa7904bd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"acacf3dd-f272-3620-8697-3e1818368cc9","instanceIdentifier":"e25f10bf-019c-1000-ffff-ffffc3c814d0","name":"","source":{"id":"fda0ef12-71e7-3e47-829e-5b66fbc88bd7","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"e25d9962-019c-1000-ffff-ffff855ac156"},"destination":{"id":"70c16c85-e183-3fd4-bc5c-747a90e48f8f","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"PutS3Object","comments":"","instanceIdentifier":"e25efdcd-019c-1000-0000-000015f2b3ed"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"92bc353a-c778-3d91-9cbd-66a3793cdc7c","instanceIdentifier":"dd738579-019c-1000-ffff-ffffe6e43994","source":{"id":"3ae75675-ea10-33f3-8511-a25edb3e7cf2","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Split Trades Array","comments":"","instanceIdentifier":"dd73712f-019c-1000-0000-00007972f5d6"},"destination":{"id":"cbb909f1-a435-3d0a-9231-d0d457144780","type":"FUNNEL","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Funnel","comments":"","instanceIdentifier":"dd737f59-019c-1000-ffff-fffffa7904bd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"51ee7f52-4316-3c87-b529-7bf11647e793","instanceIdentifier":"dd73824e-019c-1000-0000-00007d56d5ca","source":{"id":"3ae75675-ea10-33f3-8511-a25edb3e7cf2","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Split Trades Array","comments":"","instanceIdentifier":"dd73712f-019c-1000-0000-00007972f5d6"},"destination":{"id":"73a3df38-e9cd-3622-abdd-40a40a31d795","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Write to Postgres","comments":"","instanceIdentifier":"dd7379f5-019c-1000-0000-00005dbcb788"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"14f99f1a-05be-3c0d-a47d-102668bca488","instanceIdentifier":"e26f1509-019c-1000-ffff-ffff83ddc162","name":"","source":{"id":"70c16c85-e183-3fd4-bc5c-747a90e48f8f","type":"PROCESSOR","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"PutS3Object","comments":"","instanceIdentifier":"e25efdcd-019c-1000-0000-000015f2b3ed"},"destination":{"id":"cbb909f1-a435-3d0a-9231-d0d457144780","type":"FUNNEL","groupId":"ad1d36e9-9857-37c9-99f6-5a7432237691","name":"Funnel","comments":"","instanceIdentifier":"dd737f59-019c-1000-ffff-fffffa7904bd"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"}],"labels":[],"funnels":[{"identifier":"cbb909f1-a435-3d0a-9231-d0d457144780","instanceIdentifier":"dd737f59-019c-1000-ffff-fffffa7904bd","position":{"x":72.0,"y":1432.0},"componentType":"FUNNEL","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"}],"controllerServices":[{"identifier":"5f20f025-01ac-3a38-be45-7b07793efc56","instanceIdentifier":"e262d964-019c-1000-0000-0000473ac5e0","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.2.4.10"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.3.19"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"613f2be3-05dd-3f09-8b99-7dccb55e1430","instanceIdentifier":"dd734290-019c-1000-0000-000009564d2f","name":"JSON Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.2.4.10"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.3.19"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"1b09bea7-83d0-360f-95f1-fefce998dce5","instanceIdentifier":"e26d21ce-019c-1000-ffff-fffff0f4680d","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2026.2.4.10"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":null,"Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2026.2.4.10"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"},{"identifier":"1445f99d-771e-3581-ba52-9d78903d32cf","instanceIdentifier":"dd735d2d-019c-1000-0000-000062de8ae5","name":"Postgres Connection Pool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2026.2.4.10"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"#{JDBC Driver}","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:postgresql://zcibxue6nvcrxkcsdauj7psz5y.sfseeurope-aws-eunorth1.eu-north-1.aws.postgres.snowflake.app:5432/postgres?sslmode=require","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"application","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.3.19"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ad1d36e9-9857-37c9-99f6-5a7432237691"}],"parameterContextName":"DFDS Custom Flow Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"DFDS Custom Flow Parameters":{"name":"DFDS Custom Flow Parameters","parameters":[{"name":"JDBC Driver","sensitive":false,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}