btc-demo/Flow_2_-_API_to_SF_and_PG.json
{"flowContents":{"identifier":"f09a0905-f46e-3653-92ac-163e55cb76b5","instanceIdentifier":"dd6b1b1b-019c-1000-ffff-ffffba7edf84","name":"Flow 2 - API to SF and PG","comments":"","position":{"x":384.0,"y":360.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7107bd13-7c1d-30c5-9376-a45a984f42fb","instanceIdentifier":"dd6b567c-019c-1000-0000-000007b20e26","name":"Split Trades Array","comments":"","position":{"x":1480.0,"y":208.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.4.10"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"9867ea53-1c75-3bfb-ba93-b33f3b0cef21","instanceIdentifier":"0b3ee97c-019d-1000-ffff-ffffd119ddac","name":"PutDatabaseRecord","comments":"","position":{"x":2092.000059177961,"y":597.9999937815695},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.4.10"},"properties":{"Table Name":null,"Quote Column Identifiers":"false","Max Wait Time":"0 seconds","Database Connection Pooling Service":null,"Delete Keys":null,"Record Reader":null,"Quote Table Identifiers":"false","Schema Name":null,"Database Session AutoCommit":"false","Unmatched Field Behavior":"Ignore Unmatched Fields","Database Name":null,"Allow Multiple SQL Statements":"false","Rollback On Failure":"false","Update Keys":null,"Field Containing SQL":null,"Database Dialect Service":null,"Data Record Path":null,"Statement Type Record Path":null,"Column Name Translation Pattern":null,"Column Name Translation Strategy":"REMOVE_UNDERSCORE","Binary String Format":"UTF-8","Unmatched Column Behavior":"Fail on Unmatched Columns","Database Type":"Generic","Post-Processing SQL":null,"Translate Field Names":"true","Statement Type":null,"Pre-Processing SQL":null,"Table Schema Cache Size":"100","Maximum Batch Size":"1000"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Column Identifiers":{"name":"Quote Column Identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quote Table Identifiers":{"name":"Quote Table Identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Session AutoCommit":{"name":"Database Session AutoCommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Multiple SQL Statements":{"name":"Allow Multiple SQL Statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rollback On Failure":{"name":"Rollback On Failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Field Containing SQL":{"name":"Field Containing SQL","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary String Format":{"name":"Binary String Format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Post-Processing SQL":{"name":"Post-Processing SQL","displayName":"Post-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pre-Processing SQL":{"name":"Pre-Processing SQL","displayName":"Pre-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Cache Size":{"name":"Table Schema Cache Size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"efd11304-4619-3aed-8b19-1871d31358a1","instanceIdentifier":"dd6b601e-019c-1000-ffff-ffff9bc8b06b","name":"Write to Snowflake","comments":"","position":{"x":1144.0,"y":816.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2026.2.4.10"},"properties":{"Account":null,"User":null,"Table":"BTC_TRADES","Concurrency Group":null,"Max Batch Size":"10000","Schema":"FLOW2_API_DUAL","Max Tasks Per Group":"1","Record Offset":"None","Record Reader":"8085c193-638f-3824-8483-bc5510cd4801","Iceberg Enabled":"false","Snowpipe Channel Index":"1","Private Key Service":null,"Connection Strategy":"STANDARD","Role":"SYSADMIN","Record Offset Strategy":"None","Snowpipe Channel Prefix":"${hostname(false)}","Client Lag":"1 sec","Authentication Strategy":"SNOWFLAKE_SESSION_TOKEN","Delivery Guarantee":"At least once","Record Offset Record Path":"None","Database":"DFDS_DEMO"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"6179d8c4-0e09-32ab-9ccd-996e8150d0d5","instanceIdentifier":"dd6b4ca8-019c-1000-0000-00005d7506ce","name":"Fetch BTC Trades","comments":"","position":{"x":400.0,"y":400.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.4.10"},"properties":{"Request Content-Encoding":"DISABLED","User-Agent":"DFDS-Demo/1.0","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"false","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.exchange.coinbase.com/products/BTC-USD/trades?limit=5","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":"DFDS-Demo/1.0","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User-Agent":{"name":"User-Agent","displayName":"User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"380abc23-af5a-3dca-9678-611f0f7cad52","instanceIdentifier":"dd6b6761-019c-1000-0000-00007b4fc658","source":{"id":"7107bd13-7c1d-30c5-9376-a45a984f42fb","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Split Trades Array","comments":"","instanceIdentifier":"dd6b567c-019c-1000-0000-000007b20e26"},"destination":{"id":"efd11304-4619-3aed-8b19-1871d31358a1","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Write to Snowflake","comments":"","instanceIdentifier":"dd6b601e-019c-1000-ffff-ffff9bc8b06b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"b7e58a4d-84e8-345d-b106-9d848ea4b942","instanceIdentifier":"dd6b65c0-019c-1000-ffff-ffff802f0da7","source":{"id":"6179d8c4-0e09-32ab-9ccd-996e8150d0d5","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Fetch BTC Trades","comments":"","instanceIdentifier":"dd6b4ca8-019c-1000-0000-00005d7506ce"},"destination":{"id":"7107bd13-7c1d-30c5-9376-a45a984f42fb","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Split Trades Array","comments":"","instanceIdentifier":"dd6b567c-019c-1000-0000-000007b20e26"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"4e09b14d-d97a-380f-8304-f5c540a3f8ba","instanceIdentifier":"dd6b68df-019c-1000-0000-00005418e14a","source":{"id":"7107bd13-7c1d-30c5-9376-a45a984f42fb","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Split Trades Array","comments":"","instanceIdentifier":"dd6b567c-019c-1000-0000-000007b20e26"},"destination":{"id":"8670b66e-be32-3df0-a806-3a0c8bc27225","type":"FUNNEL","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Funnel","comments":"","instanceIdentifier":"dd6b641f-019c-1000-0000-00005058c0ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"bc506882-a599-35ec-8d15-428aa08b6724","instanceIdentifier":"dd6b6b9f-019c-1000-ffff-ffffeabd282a","source":{"id":"efd11304-4619-3aed-8b19-1871d31358a1","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Write to Snowflake","comments":"","instanceIdentifier":"dd6b601e-019c-1000-ffff-ffff9bc8b06b"},"destination":{"id":"8670b66e-be32-3df0-a806-3a0c8bc27225","type":"FUNNEL","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Funnel","comments":"","instanceIdentifier":"dd6b641f-019c-1000-0000-00005058c0ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"a80584bc-9482-3b64-9013-0e7a70245b4e","instanceIdentifier":"0b3f2c74-019d-1000-0000-0000339d6398","name":"","source":{"id":"7107bd13-7c1d-30c5-9376-a45a984f42fb","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Split Trades Array","comments":"","instanceIdentifier":"dd6b567c-019c-1000-0000-000007b20e26"},"destination":{"id":"9867ea53-1c75-3bfb-ba93-b33f3b0cef21","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"0b3ee97c-019d-1000-ffff-ffffd119ddac"},"labelIndex":0,"zIndex":1,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"9f15f106-2ee3-3dba-b0c5-a741e9b71f0c","instanceIdentifier":"dd6b6a58-019c-1000-0000-0000118dbb76","source":{"id":"6179d8c4-0e09-32ab-9ccd-996e8150d0d5","type":"PROCESSOR","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Fetch BTC Trades","comments":"","instanceIdentifier":"dd6b4ca8-019c-1000-0000-00005d7506ce"},"destination":{"id":"8670b66e-be32-3df0-a806-3a0c8bc27225","type":"FUNNEL","groupId":"f09a0905-f46e-3653-92ac-163e55cb76b5","name":"Funnel","comments":"","instanceIdentifier":"dd6b641f-019c-1000-0000-00005058c0ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"}],"labels":[],"funnels":[{"identifier":"8670b66e-be32-3df0-a806-3a0c8bc27225","instanceIdentifier":"dd6b641f-019c-1000-0000-00005058c0ed","position":{"x":552.0,"y":800.0},"componentType":"FUNNEL","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"}],"controllerServices":[{"identifier":"8085c193-638f-3824-8483-bc5510cd4801","instanceIdentifier":"dd6b1f22-019c-1000-0000-000004a574ed","name":"JSON Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.2.4.10"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.3.19"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"},{"identifier":"764d5562-6387-3541-b5bc-893039c22ed9","instanceIdentifier":"dd6b238e-019c-1000-0000-000074ee6946","name":"JSON Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.2.4.10"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.3.19"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f09a0905-f46e-3653-92ac-163e55cb76b5"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}